[package]
description = "IO abstraction primitives for `aeronet`"
name = "aeronet_io"
version = "0.11.0"

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu", "wasm32-unknown-unknown"]

[dependencies]
anyhow = { workspace = true, default-features = false }
bytes = { workspace = true, default-features = false }
derive_more = { workspace = true, default-features = false, features = [
  "display",
  "error",
  "add",
  "add_assign",
] }
tracing = { workspace = true, default-features = false }
web-time = { workspace = true }

bevy_app = { workspace = true, features = ["bevy_reflect"] }
bevy_derive = { workspace = true }
bevy_ecs = { workspace = true, features = ["bevy_reflect"] }
bevy_hierarchy = { workspace = true, features = [
  "reflect", # TODO: https://github.com/bevyengine/bevy/pull/16428
] }
bevy_reflect = { workspace = true }
