[workspace]
members = [
  "crates/aeronet_io",
  "crates/aeronet_channel",
  "crates/aeronet_webtransport",
]
resolver = "2"

[workspace.package]
authors = ["aecsocket <aecsocket@tutanota.com>"]
categories = ["game-development", "network-programming"]
edition = "2021"
keywords = ["gamedev", "network", "bevy"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/aecsocket/aeronet"
rust-version = "1.80.0"
version = "0.9.0-dev"

[workspace.lints.rust]
missing_docs = "warn"

[workspace.lints.clippy]
all = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }

unwrap_used = "warn"

cast_possible_truncation = "allow"
cast_precision_loss = "allow"
cast_sign_loss = "allow"
module_name_repetitions = "allow"
needless_pass_by_value = "allow"
similar_names = "allow"
type_complexity = "allow"

[workspace.dependencies]
aeronet = { version = "0.9.0-dev", path = "crates/aeronet" }
aeronet_channel = { version = "0.9.0-dev", path = "crates/aeronet_channel" }
aeronet_io = { version = "0.9.0-dev", path = "crates/aeronet_io" }
aeronet_proto = { version = "0.9.0-dev", path = "crates/aeronet_proto" }
aeronet_replicon = { version = "0.9.0-dev", path = "crates/aeronet_replicon" }
aeronet_steam = { version = "0.9.0-dev", path = "crates/aeronet_steam" }
aeronet_webtransport = { version = "0.9.0-dev", path = "crates/aeronet_webtransport" }

ahash = { version = "0.8.11", default-features = false, features = [
  "std",
  "compile-time-rng",
] }
anyhow = "1.0.86"
arbitrary = { version = "1.3.2", features = ["derive"] }
ascii_table = "4.0.3"
assert_matches = "1.5.0"
base64 = "0.22.1"
bimap = "0.6.3"
bitvec = "1.0.1"
bytes = "1.6.1"
cfg-if = "1.0.0"
clap = { version = "4.5.11", features = ["derive"] }
datasize = "0.2.15"
derivative = "2.2.0"
derive_more = "0.99.18"
egui = "0.28.1"
egui_plot = "0.28.1"
either = "1.13.0"
futures = "0.3.30"
itertools = "0.13.0"
octs = "0.4.2"
oneshot = "0.1.8"
rand = "0.8.5"
rand_distr = "0.4.3"
replace_with = "0.1.7"
ringbuf = "0.4.1"
serde = { version = "1.0.204", features = ["derive"] }
size_format = "1.0.2"
slotmap = "1.0.7"
sync_wrapper = "1.0.1"
terrors = "0.3.0"
thiserror = "1.0.63"
tokio = { version = "1.39.2", default-features = false }
tracing = "0.1.40"
web-time = "1.1.0"

# bevy

bevy_app = { version = "0.14.1", default-features = false }
bevy_core = { version = "0.14.1", default-features = false }
bevy_derive = { version = "0.14.1", default-features = false }
bevy_ecs = { version = "0.14.1", default-features = false }
bevy_hierarchy = { version = "0.14.1", default-features = false }
bevy_reflect = { version = "0.14.1", default-features = false }
bevy_time = { version = "0.14.1", default-features = false }

bevy = { version = "0.14.1", features = ["wayland"] }

bevy_egui = "0.28.0"
bevy_replicon = { version = "0.27.0", default-features = false }

# aeronet_channel

flume = "0.11.0"

# aeronet_steam

steamworks = "0.11.0"

# aeronet_webtransport

xwt-core = "0.5.0"

spki = { version = "0.7.3", features = ["fingerprint"] }
wtransport = "0.3.1"
x509-cert = "0.2.5"
xwt-wtransport = "0.10.0"

gloo-timers = { version = "0.3.0", features = ["futures"] }
js-sys = "0.3.69"
wasm-bindgen = "0.2.92"
wasm-bindgen-futures = "0.4.42"
xwt-web-sys = "0.12.0"
