[package]
description = "move_box demo client"
name = "move_box_client"
publish = false

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[features]
dev = ["bevy/dynamic_linking"]

[dependencies]
move_box = { path = "../move_box" }

# core

bevy = { workspace = true }
bevy_egui = { workspace = true }
web-time = { workspace = true }

# transport

aeronet = { workspace = true, features = ["bevy"] }
aeronet_webtransport = { workspace = true, features = [
  "dangerous-configuration",
  "bevy",
  "visualizer",
] }

# replication

aeronet_replicon = { workspace = true }
bevy_replicon = { workspace = true }
