[package]
description = "Demo app with moving boxes synced using replicon"
name = "move_box"
publish = false

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
bevy = { workspace = true, features = ["wayland"] }
serde = { workspace = true }

aeronet_webtransport = { workspace = true }
bevy_replicon = { workspace = true }
bevy_replicon_snap = { workspace = true }

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen-futures = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
tokio = { workspace = true, features = ["full"] }
