[package]
description = "WebTransport transport implementation for aeronet"
name = "aeronet_webtransport"

authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
rustflags = ["--cfg=web_sys_unstable_apis"]

[features]
## Enables [`rustls/dangerous-configuration`](https://docs.rs/rustls/latest/rustls/#crate-features)
## on targets building against native `wtransport`.
dangerous-configuration = ["wtransport/dangerous-configuration"]

## Enables [`bevy`](https://docs.rs/bevy) support by deriving `Resource` on certain types.
bevy = ["dep:bevy_ecs", "aeronet/bevy", "aeronet_proto/bevy"]

## Enables [`aeronet_proto`]'s [`egui`](https://docs.rs/egui) network statistics visualizer.
visualizer = ["aeronet_proto/visualizer"]

[dependencies]
aeronet = { workspace = true }
aeronet_proto = { workspace = true }

arbitrary = { workspace = true }
bytes = { workspace = true }
cfg-if = { workspace = true }
either = { workspace = true }
futures = { workspace = true }
replace_with = { workspace = true }
slotmap = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
web-time = { workspace = true }

bevy_ecs = { workspace = true, optional = true }

# xwt

xwt-core = { workspace = true }

[target.'cfg(target_family = "wasm")'.dependencies]
gloo-timers = { workspace = true }
js-sys = { workspace = true }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
xwt-web-sys = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
base64 = { workspace = true }
spki = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
wtransport = { workspace = true }
x509-cert = { workspace = true }
xwt-wtransport = { workspace = true }

[dev-dependencies]
bevy = { workspace = true }
bevy_egui = { workspace = true }
bevy_replicon = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
tokio = { workspace = true, features = ["rt-multi-thread"] }

[[example]]
name = "echo_client"
path = "examples/echo_client.rs"
required-features = ["bevy", "dangerous-configuration"]

[[example]]
name = "echo_server"
path = "examples/echo_server.rs"
required-features = ["bevy"]
